<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markets</title>
</head>

<body>
    <h1>All Markets</h1>
    <div>
        <a href="/markets/new">Add Market</a>
    </div>
    <ul>
        <% for (let market of markets){%>
        <li><a href="/markets/<%= market._id %>"><%= market.MarketName %></a></li>
        <% }%>
    </ul>

</body>

</html>