<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Market<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Market</title>
</head>

<body>
    <form action="/markets" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" id="title" name="market[MarketName]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="market[StreetAddress]">
        </div>
        <button>Add Market</button>
    </form>
    <a href="/markets">All Markets</a>

</body>

</html></title>
</head>

<body>
    <form action="/markets" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" id="title" name="market[MarketName]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="market[StreetAddress]">
        </div>
        <button>Add Market</button>
    </form>
    <a href="/markets">All Markets</a>

</body>

</html>